@media(min-width: 768px){
    .header .nav{
        display: block!important;
    }
}
@media(max-width: 767px){
    .header .logo{
        padding: 8px 15px;
    }
    .header .hamburger-btn{
        display: flex;
        margin-right: 15px;
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a {
        color: #555555;
        padding: 10px 0;
    }
    .home-section .home-content h1{
        font-size: 60px;
    }
    .couple-section .couple{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
}
@media(max-width : 574px){
    .home-section .home-content h1{
        font-size: 40px;
    }
}