@media(max-width: 767px){
    .header .logo{
        padding: 8px 15px;
    }
    .headerv.hamburger-btn{
        display: flex;
        /* margin-right: 15px; */
    }
    .header .nav{
        flex: 0 0 100%;
        max-width: 100%;
        background-color: #ffffff;
        border-top: 1px solid #cccccc;
        display: none;
    }
    .header .nav ul li{
        display: block;
        margin-left: 0;
    }
    .header .nav ul li a{
       color: #555555; 
       padding: 10px 0;
    }
}