@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* homepage start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  margin-left: -3rem;
  cursor: auto;
}

.navbar .navbar-nav {
  margin-right: 20rem;
}

.navbar .navbar-nav a {
  font-family: "Inter", sans-serif;
  color: #878787;
  text-decoration: none;
  font-size: 20px;
  margin: 0 1rem;
}

.navbar .navbar-extra a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin: 0 1.1rem;
  color: #0f025f;
}

.navbar .navbar-extra .sign-up {
  background-color: #fddbe7;
  border-radius: 30px;
  padding: 0.7rem;
}

#hamburger-menu {
  display: none;
}

.body-home-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../aset/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -210px;
  position: relative;
}

.home-text {
  position: relative;
}

.home-text .pre1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #0f025f;
  font-size: 50px;
  margin-top: 1rem;
  margin-left: -2rem;
}

.home-text .pre2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 20px;
  margin-left: 1.2rem;
  position: absolute;
  top: 20.5rem;
}

.img-home1 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20rem;
  top: 8rem;
}

.img-home2 {
  width: 320px;
  height: 320px;
  position: absolute;
  right: 8rem;
  bottom: 12rem;
}

/* homepage end */

/* create start */

div {
  float: left;
}

.container1-create {
  width: 50%;
  height: 49.5rem;
  background-color: #ff849c;
}

.container1-create .icon a img {
  width: 21px;
  height: 36px;
  position: relative;
  bottom: 5rem;
  left: 5rem;
}

.container1-create img {
  width: 237px;
  height: 237px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.container1-create .create-p1 {
  font-family: "Sacramento", cursive;
  font-size: 100px;
}

.container1-create .create-p2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.container1-create .create-p1,
.create-p2 {
  text-align: center;
  color: white;
  cursor: default;
}

.container2-create {
  width: 50%;
  height: 49.5rem;
  text-align: center;
}

.container2-create p {
  text-align: center;
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  cursor: default;
}

.container2-create input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.container2-create button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

/* create end */

/* login start */

.login-p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #0f025f;
  text-align: center;
}

.container-login {
  margin: auto;
  width: 636px;
  height: 660px;
  border: solid black 1px;
}

/* login end */
