@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* homepage start */

.body-home-page {
  height: 200rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  margin-left: -3rem;
  cursor: default;
}

.navbar .navbar-nav {
  margin-right: 20rem;
}

.navbar .navbar-nav a {
  font-family: "Inter", sans-serif;
  color: #878787;
  text-decoration: none;
  font-size: 20px;
  margin: 0 1rem;
}

.navbar .navbar-extra a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin: 0 1.1rem;
  color: #0f025f;
}

.navbar .navbar-extra .sign-up {
  background-color: #fddbe7;
  border-radius: 30px;
  padding: 0.7rem;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../aset/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-position: -15rem 0px;
}

#hamburger-menu {
  display: none;
}

.home-text {
  position: relative;
  margin-top: 12.5rem;
}

.home-text .pre1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #0f025f;
  font-size: 50px;
  margin-top: 1rem;
  margin-left: -2rem;
}

.home-text .pre2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 20px;
  margin-left: 1.2rem;
  position: absolute;
  top: 20.5rem;
}

.img-home1 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20rem;
  top: 13rem;
}

.img-home2 {
  width: 320px;
  height: 320px;
  position: absolute;
  right: 4rem;
  bottom: 7rem;
}

/* ===== start mengapa ny =====*/

.mengapa {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mengapa-slide {
  background-color: #ff849c;
  width: 85%;
  height: 75%;
  border-radius: 1.5rem;
}

.mengapa-slide .mengapa-pre1,
.mengapa-p1,
.mengapa-pre2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mengapa-slide .mengapa-pre1 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 2rem;
}

.mengapa-slide .mengapa-p1 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 1rem;
}

.mengapa-slide .mengapa-pre2 {
  font-weight: 370;
  font-size: 22px;
  margin-top: 1rem;
}

.mengapa-slide .img-mengapa1 {
  width: 155px;
  height: 155px;
  display: block;
  margin: auto;
}

.mengapa-slide .img-mengapa1-slide3 {
  width: 297px;
  height: 155px;
  display: block;
  margin: auto;
}

.prevButton,
.nextButton {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}

.prevButton {
  left: 13rem;
}
.nextButton {
  right: 13rem;
}

/* ===== end mengapa ny */

/* ===== start katalog */
.katalog {
  width: 100%;
  height: 25%;
  /* background-color: #0f025f; */
  margin-top: 2rem;
}

.katalog .katalog-textp1 {
  text-align: center;
  color: #0f025f;
  /* color: #ffffff; */
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.katalog .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Mengatur posisi konten di dalam kontainer secara horizontal di tengah */
  margin-top: 4rem;
}

.katalog .content .container-katalog1,
.container-katalog2,
.container-katalog3 {
  width: 400px;
  height: 600px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin: 1.5rem;
  text-align: center;
  border-radius: 15px;
}

.katalog .content .container-katalog1-p1,
.container-katalog1-p2,
.container-katalog1-p3 {
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-top: 2rem;
}

.katalog .content .container-katalog1 .img1 {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

.katalog .content .container-katalog1 .target1 {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: #ff849c;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.katalog .content .container-katalog2 .img2 {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

.katalog .content .container-katalog2 .target2 {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: #ff849c;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.katalog .content .container-katalog3 .img3 {
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}

.katalog .content .container-katalog3 .target3 {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  background-color: #ff849c;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

/* ===== end katalog */

.komentar {
  width: 100%;
}

.pertanyaan {
  width: 100%;
}

/* homepage end */

/* home start */

.navbar .navbar-nav-home a {
  font-family: "Inter", sans-serif;
  color: #878787;
  text-decoration: none;
  font-size: 18px;
  margin: 0 1rem;
}

.navbar .navbar-nav-home {
  margin-right: 9rem;
}

.navbar-extra-home a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #0f025f;
  font-size: 18px;
  margin-left: 1rem;
  font-weight: 700;
}

/* home end */

/* =======float bg */
div {
  float: left;
}

/* =======float bg */
