/*  pink color style    */
.norek-copy button:active,
.btn-1:hover,
.couple-section .social-links a i,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a:active,
.header .nav ul li a:hover{
    color: #fb839e;
}

.btn-1,
.couple-section .social-links a i,
.couple-section .couple img{
    border-color: #fb839e;
}

.btn-1,
.rsvp-section,
.couple-section .social-links a:hover i{
    background-color: #fb839e;
}
