@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@300;400;700&display=swap");
* {
  margin: 0;
}

body {
  height: 200rem;
}

.hero,
.slide2,
.slide3 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../aset/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .left-bg,
.right-bg {
  width: 395px;
  height: 789.8px;
  position: absolute;
}

.content .left-bg {
  bottom: 0;
  left: 0;
}
.content .right-bg {
  bottom: 0;
  right: 0;
}

.content .prewed {
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  transition: 0.3s ease-in-out;
}

.content .prewed:hover {
  width: 320px;
  height: 320px;
}

.content .text {
  margin-bottom: 10rem;
  display: block;
  margin: auto;
  text-align: center;
}

.content .slide1-h1,
.slide1-p1,
.slide1-p2 {
  text-align: center;
}

.content .slide1-h1 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 1rem;
  word-spacing: 5rem;
}

.content .slide1-p1,
.slide1-p2 {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-size: 28px;
}

.content .open {
  text-decoration: none;
  font-family: "Italiana", serif;
  font-weight: 100;
  font-size: 24px;
  color: #000000;
  background-color: #ffd6d6;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: inline-block;
  margin-top: 2rem;
  transition: 0.3s ease-in;
}

.content .open:hover {
  background-color: #ff849c;
}

/* ========================================================== */

/* slide 2 */

.slide2 {
  width: 100%;
  height: 24.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* background-color: #ff849c; */
}

.slide-two {
  width: 85%;
  height: 100%;
  /* background-color: #ffd6d6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.slide2 .left-bg,
.right-bg {
  width: 395px;
  height: 789.8px;
  position: absolute;
}

.slide2 .left-bg {
  bottom: 0;
  left: 0;
}
.slide2 .right-bg {
  bottom: 0;
  right: 0;
}

.slide-two .slide2-p1,
.slide2-p2,
.slide2-p3,
.slide2-p4 {
  font-family: "Inria Serif", serif;
  font-weight: 400;
}

.slide-two .slide2-p1 {
  font-size: 30px;
}

.slide-two .slide2-p2 {
  font-size: 25px;
  margin-top: 4rem;
}

.slide-two .slide2-p3,
.slide2-p4 {
  font-size: 30px;
  font-weight: 300;
}

.slide-two .slide2-h1 {
  font-size: 60px;
  margin-top: 2rem;
  word-spacing: 5rem;
}

.slide-two .slide2-h3 {
  font-size: 50px;
  margin-bottom: 1rem;
  word-spacing: 1rem;
  margin-top: 2rem;
}
/*  */
.slide3 {
  width: 100%;
  height: 24.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #ff849c; */
}

/* ========================================================== */

/* slide  3*/

.slide3 {
  width: 100%;
  height: 24.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-three {
  width: 85%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}

.slide-three h1 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 60px;
}

.slide-three2 {
  width: 100%;
  height: 75%;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* background-color: aqua; */
}

.slide-three2 .pria,
.wanita {
  width: 40%;
  height: 100%;
  /* background: #ffd6d6; */
}

.slide-three2 .love {
  width: 20%;
  height: 100%;
}

.slide-three2 .pria,
.love,
.wanita {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-three2 .pria,
.wanita {
  width: 40%;
  height: 100%;
  /* background: #ffd6d6; */
}

.slide-three2 .pria img,
.slide-three2 .wanita img {
  width: 350px;
  height: 350px;
  margin-top: -4rem;
}

.slide-three2 .love img {
  width: 170px;
  height: 150px;
  margin-top: -12rem;
}

.pria .text1,
.wanita .text1 {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-size: 40px;
  margin-top: 0.8rem;
  margin-bottom: 1.3rem;
}
.pria .text2,
.wanita .text2 {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-size: 30px;
}
