@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* homepage start */

.body-home-page {
  height: 200rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  margin-left: -3rem;
  cursor: default;
}

.navbar .navbar-nav {
  margin-right: 20rem;
}

.navbar .navbar-nav a {
  font-family: "Inter", sans-serif;
  color: #878787;
  text-decoration: none;
  font-size: 20px;
  margin: 0 1rem;
}

.navbar .navbar-extra a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  margin: 0 1.1rem;
  color: #0f025f;
}

.navbar .navbar-extra .sign-up {
  background-color: #fddbe7;
  border-radius: 30px;
  padding: 0.7rem;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../aset/bg-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  background-position: -15rem 0px;
}

#hamburger-menu {
  display: none;
}

.home-text {
  position: relative;
  margin-top: 12.5rem;
}

.home-text .pre1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #0f025f;
  font-size: 50px;
  margin-top: 1rem;
  margin-left: -2rem;
}

.home-text .pre2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #818181;
  font-size: 20px;
  margin-left: 1.2rem;
  position: absolute;
  top: 20.5rem;
}

.img-home1 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20rem;
  top: 13rem;
}

.img-home2 {
  width: 320px;
  height: 320px;
  position: absolute;
  right: 4rem;
  bottom: 7rem;
}

/* ===== start mengapa ny =====*/

.mengapa {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mengapa-slide {
  background-color: #ff849c;
  width: 85%;
  height: 75%;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 5px rgba(0, 0, 0, 0.25);
}

.mengapa-slide .mengapa-pre1,
.mengapa-p1,
.mengapa-pre2 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.mengapa-slide .mengapa-pre1 {
  font-weight: 700;
  font-size: 50px;
  margin-top: 2rem;
}

.mengapa-slide .mengapa-p1 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 1rem;
}

.mengapa-slide .mengapa-pre2 {
  font-weight: 370;
  font-size: 22px;
  margin-top: 1rem;
}

.mengapa-slide .img-mengapa1 {
  width: 155px;
  height: 155px;
  display: block;
  margin: auto;
}

.mengapa-slide .img-mengapa1-slide3 {
  width: 297px;
  height: 155px;
  display: block;
  margin: auto;
}

.prevButton,
.nextButton {
  border: none;
  background-color: transparent;
  position: absolute;
  cursor: pointer;
}

.prevButton {
  left: 13rem;
}
.nextButton {
  right: 13rem;
}

/* ===== end mengapa ny */

/* ===== start katalog */
.katalog {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.katalog .pembungkus {
  width: 85%;
  height: 80%;
}

.katalog .katalog-text {
  text-align: center;
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.katalog .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Mengatur posisi konten di dalam kontainer secara horizontal di tengah */
  margin-top: 3rem;
}

.katalog .content .container-katalog {
  width: 340px;
  height: 480px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  margin: 1.5rem;
  text-align: center;
  border-radius: 15px;
}

.katalog .content .title-katalog {
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-top: 2rem;
}

.katalog .content .container-katalog .img-katalog {
  width: 320px;
  height: 320px;
}

.katalog .content .container-katalog .target-katalog {
  text-decoration: none;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #ff849c;
  padding: 0.8rem 2.7rem;
  border-radius: 2rem;
}

/* ===== end katalog */

/* ===== start komen */
.komentar {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.komentar .komen {
  width: 85%;
  height: 100%;
}

.komentar .komen-title {
  text-align: center;
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 3rem;
}

/* ===== end komen */

.pertanyaan {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pertanyaan .tanya {
  width: 85%;
  height: 100%;
}

.pertanyaan .pertanyaan-title {
  text-align: center;
  color: #0f025f;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 50px;
  margin-top: 3rem;
}

.tanya .box {
  width: 100%;
  height: 86.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -3rem;
}

.box .box-pertanyaan {
  width: 1100px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2), -5px -5px 5px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  padding-top: 20px;
}
.box-pertanyaan .ditanya {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 1.5rem;
}

.box-pertanyaan .jawab {
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  font-size: 20px;
  margin-top: 1rem;
  padding-left: 1.5rem;
}

.box .box-pertanyaan:hover {
  height: 100px;
}

/* homepage end */

/* home start */

.navbar .navbar-nav-home a {
  font-family: "Inter", sans-serif;
  color: #878787;
  text-decoration: none;
  font-size: 18px;
  margin: 0 1rem;
}

.navbar .navbar-nav-home {
  margin-right: 9rem;
}

.navbar-extra-home a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #0f025f;
  font-size: 18px;
  margin-left: 1rem;
  font-weight: 700;
}

/* home end */

/* =======float bg */
div {
  float: left;
}
/* =======float bg */

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    /* width: 25rem; */
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: #0f025f;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  /*  */
  .navbar .navbar-nav-home {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav-home.active {
    right: 0;
  }
  .navbar .navbar-nav-home a {
    color: #0f025f;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }
  .navbar .navbar-nav-home a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav-home a:hover::after {
    transform: scaleX(0.2);
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
